@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    font-family: "inherit", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #d9c5c3;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #813f38;
    border-bottom: 1px solid #813f38 ;
    height: 45px;
}

.header h3{
    font-size: 17px;
    font-weight: 500;
}

.container{
max-width: 920px;
height: 100vh;
display: flex;
flex-direction: column;
justify-content:space-between;
margin: 0 auto;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 20;
}

.info a{
    color: #813f38;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.info a:hover{
    color: #fff;
}

.input-container{
    background-color: #d9c5c3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #813f38;
    position: sticky;
    bottom: 0;
}


#user-input{
    background-color: #f2eceb;
    color: #813f38;
    border: none;
    outline: none;
    padding: 8px;
    flex: 9;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}

#user-input::placeholder{
    color: #813f38;
    font-weight: 400;
}

#send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #813f38;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
}

#send-button:hover{
    background-color: #986058;
}


.chat-container{
    flex: 1;
}

.chat-box{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}


#chat-log{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}


#chat-log i{
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
}


.bot, .user{
    display:flex;
    align-items: flex-start;
    color: #813f38;
    width: 100%;
    padding: 15px 7px 15px 10px;
    border-radius: 6px;
}

.bot{
    background-color: #f2eceb;
}

#chat-log #user-icon i{
    background-color: #986058;
    padding: 10px 11px;
}

#chat-log #bot-icon i{
    background-color: darkred;
    padding: 10px 8px 11px;
}